<main role="main">
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="display-3 ">Custom Bikes Garage</h1>
      <p>Motorcycle builders and road lovers</p>
      <p>
        <a class="btn btn-primary btn-lg"
        [routerLink]="['/register']" role="button">Register</a>
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
        tellus ac cursus tellus ac cursus, tellus ac cursus,tellus ac cursus,tellus ac cursustellus ac cursus
        tellus ac cursustellus ac cursustellus ac cursus
      </p>
      <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
        tellus ac cursus tellus ac cursus, tellus ac cursus,tellus ac cursus,tellus ac cursustellus ac cursus
        tellus ac cursustellus ac cursustellus ac cursus
      </p>
      <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
        tellus ac cursus tellus ac cursus, tellus ac cursus,tellus ac cursus,tellus ac cursustellus ac cursus
        tellus ac cursustellus ac cursustellus ac cursus
      </p>
      <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
    </div>
    </div>
  </div>
</main>